<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugar.mapper.ProductAssessMapper" >
  <resultMap id="BaseResultMap" type="com.sugar.model.ProductAssess" >
    <id column="ASSESS_ID" property="assessId" jdbcType="BIGINT" />
    <result column="PRODUCT_ID" property="productId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sugar.model.ProductAssess" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ASSESS_ID, PRODUCT_ID, USER_ID, ORDER_ID, CREATE_DATE, UPDATE_DATE
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_product_assess
    where ASSESS_ID = #{assessId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_product_assess
    where ASSESS_ID = #{assessId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sugar.model.ProductAssess" >
    insert into s_product_assess (ASSESS_ID, PRODUCT_ID, USER_ID, 
      ORDER_ID, CREATE_DATE, UPDATE_DATE, 
      CONTENT)
    values (#{assessId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{orderId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sugar.model.ProductAssess" >
    insert into s_product_assess
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assessId != null" >
        ASSESS_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assessId != null" >
        #{assessId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sugar.model.ProductAssess" >
    update s_product_assess
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ASSESS_ID = #{assessId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sugar.model.ProductAssess" >
    update s_product_assess
    set PRODUCT_ID = #{productId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ASSESS_ID = #{assessId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sugar.model.ProductAssess" >
    update s_product_assess
    set PRODUCT_ID = #{productId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ASSESS_ID = #{assessId,jdbcType=BIGINT}
  </update>
</mapper>