<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugar.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.sugar.model.User">
    <id column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="WXCHAT" jdbcType="VARCHAR" property="wxchat" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="GENDER" jdbcType="TINYINT" property="gender" />
    <result column="STAR" jdbcType="TINYINT" property="star" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, NAME, WXCHAT, BIRTHDAY, GENDER, STAR, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_user
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_user
    where USER_ID = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sugar.model.User">
    insert into s_user (USER_ID, NAME, WXCHAT, 
      BIRTHDAY, GENDER, STAR, 
      CREATE_DATE, UPDATE_DATE)
    values (#{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{wxchat,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{gender,jdbcType=TINYINT}, #{star,jdbcType=TINYINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sugar.model.User">
    insert into s_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="wxchat != null">
        WXCHAT,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="star != null">
        STAR,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="wxchat != null">
        #{wxchat,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="star != null">
        #{star,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sugar.model.User">
    update s_user
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="wxchat != null">
        WXCHAT = #{wxchat,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=TINYINT},
      </if>
      <if test="star != null">
        STAR = #{star,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sugar.model.User">
    update s_user
    set NAME = #{name,jdbcType=VARCHAR},
      WXCHAT = #{wxchat,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      GENDER = #{gender,jdbcType=TINYINT},
      STAR = #{star,jdbcType=TINYINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
</mapper>